*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header-container{
    
    height: 10rem;
   
    background-color: rgb(34, 127, 96);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
   
    text-align:  center;
    /* gap: 2rem; */
}

.a{
    color: white;
    font-size: 1.5rem;
}

.logo-container img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    
}
.nav-items{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

body{
    background-color: rgb(131, 201, 178);
}

.main-section{
    max-width: 50%;
    /* height: auto; */
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
    text-align: center;
    
}

.main-heading{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 2.5rem;
}

.about-us{
    padding: 1.2rem;
    

}

.about-Heading{
    font-size: 1.6rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.about-para1{
    padding: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-para2{
   
    font-size: 1.2rem;
}

.item-list{
    padding: 2rem;
}

#item-heading{
    font-size: 1.25rem;
}

.item-list ul{
    padding-top: 1rem;
    text-align: start;
}

.items{
    font-size: 1.1rem;
    padding: 0.09rem;
}

.home-heading{
    padding-top: 1.5rem;   
}

.food-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    
    
}

.food-images button{
    padding: 0.8rem;
    border-radius: 0.5rem;
    
    
}

.food-images a{
    padding-bottom: 2rem;
    color: red;
    font-size: 1rem;
}

.food-images img{
    height: 20rem;
    width: 30rem;
    margin: 1.5rem;
}

.contect-container{
    max-width: 100vw;
    height: 10rem;
   
    background-color: rgb(34, 127, 96);
    display: flex;
}